@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;;
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--dark);
}